a:hover{
    text-decoration: none;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none !important;
}
.container-fluid,.row{
    margin: 0px !important;
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.no-padding{
    padding: 0px !important;
}
.text-tiny{
    font-size: x-small;
}
.main-header{
    text-align: center;
    font-size: 1.2rem;
}
.gbl-status-container,.gbl-timeline-container,.country-status-container,.country-timeline-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
.content-container{
    width: 14rem;
    height: 14rem;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-container::after {
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-container:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.content-container:hover::after {
    opacity: 1;
}
.emoji-small{
    font-size: 40px;
}
.text-large{
    font-size: 32px;
    font-weight: 900;
    padding-right: 0.5rem;
    font-family: monospace;
}
.gov-link-container{
    padding: 10rem 0 10rem 0;
}
.item-bordered-odd{
    border-left: 2px solid #1abc9c;
}
.item-bordered-even{
    border-left: 2px solid #666;
}
.fb-comments-container{
    padding: 0 100px 0 100px !important;
}
.pre-footer{
    font-size: 20px;
}
.white-icons{
    filter:  brightness(0) invert(1);
}

/* background colors */
.bg-peter-river{
    background-color: #3498db;
    /* color: #ffffff; */
}
.bg-turquoise{
    background-color: #1abc9c;
    /* color: #ffffff; */
}
.bg-carrot{
    background-color: #e67e22;
    /* color: #ffffff; */
}
.bg-wet-asphalt{
    background-color: #34495e;
}
.bg-clouds{
    background-color: #ecf0f1;
}
.bg-emerald{
    background-color: #2ecc71;
    color: #ecf0f1;
}

/* carousel */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: system-ui;
    background: #3d76d9;
  }
  
  .visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
  }
  
  .container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
    display: flex;
    justify-content: center;
  }
  
  .card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }

  .card{
      display: flex;
      justify-content: space-evenly;
    }
  .place{
      font-weight: 900;
      padding: 1rem 0 1rem 0;
  }
  .patient-img{
      height: 4rem;
      width: 4rem;
      margin: 1rem 0 1rem 0;

  }
  .notes{
      display: flex;
      flex-wrap:wrap ;
      font-weight: 700;
      margin:0.4rem;
  }