a:hover{
    text-decoration: none;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none !important;
}
.container-fluid,.row{
    margin: 0px !important;
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.no-padding{
    padding: 0px !important;
}
.text-tiny{
    font-size: x-small;
}
.main-header{
    text-align: center;
    font-size: 1.2rem;
}
.gbl-status-container,.gbl-timeline-container,.country-status-container,.country-timeline-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
.content-container{
    width: 14rem;
    height: 14rem;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-container::after {
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-container:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.content-container:hover::after {
    opacity: 1;
}
.emoji-small{
    font-size: 40px;
}
.highcharts-credits{
    display: none;
}
.text-large{
    font-size: 32px;
    font-weight: 900;
    padding-right: 0.5rem;
    font-family: monospace;
}
.gov-link-container{
    padding: 10rem 0 10rem 0;
}
.item-bordered-odd{
    border-left: 2px solid #1abc9c;
}
.item-bordered-even{
    border-left: 2px solid #666;
}
.fb-comments-container{
    padding: 0 100px 0 100px !important;
}
.pre-footer{
    font-size: 20px;
}
.white-icons{
    filter:  brightness(0) invert(1);
}

/* background colors */
.bg-peter-river{
    background-color: #3498db;
    /* color: #ffffff; */
}
.bg-turquoise{
    background-color: #1abc9c;
    /* color: #ffffff; */
}
.bg-carrot{
    background-color: #e67e22;
    /* color: #ffffff; */
}
.bg-wet-asphalt{
    background-color: #34495e;
}
.bg-clouds{
    background-color: #ecf0f1;
}
.bg-emerald{
    background-color: #2ecc71;
    color: #ecf0f1;
}

.timeline{
    position:relative;
    margin:50px auto;
    padding:40px 0;
    width:1000px;
    box-sizing:border-box;
  }
  .timeline:before{
    content:'';
    position:absolute;
    left:50%;
    width:2px;
    height:100%;
    background:#c5c5c5;
  }
  .timeline ul{
    padding:0;
    margin:0;
  }
  .timeline ul li{
    list-style:none;
    position:relative;
    width:50%;
    padding:20px 40px;
    box-sizing:border-box;
  }
  .timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
  }
  .timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
  }
  .content{
    padding-bottom:20px;
  }
  .timeline ul li:nth-child(odd):before
  {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    right:-6px;
    background:rgb(124, 181, 236);
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(233,33,99,0.2);
  }
  .timeline ul li:nth-child(even):before
  {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    left:-4px;
    background:rgb(124, 181, 236);
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(233,33,99,0.2);
  }
  .timeline ul li .sanspro-semib{
    padding:0;
    margin:0;
    color:black;
    font-weight:600;
  }

  .timeline ul li .description{
    color:grey;
  }

  .timeline ul li p{
    margin:10px 0 0;
    padding:0;
  }
  .timeline ul li .time h4{
    margin:0;
    padding:0;
    font-size:14px;
  }
  .timeline ul li:nth-child(odd) .time
  {
    position:absolute;
    top:12px;
    right:-165px;
    margin:0;
    padding:8px 16px;
    background:rgb(124, 181, 236);
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px rgba(233,33,99,0.3);
  }
  .timeline ul li:nth-child(even) .time
  {
    position:absolute;
    top:12px;
    left:-165px;
    margin:0;
    padding:8px 16px;
    background:rgb(124, 181, 236);
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px rgba(233,33,99,0.3);
  }
  @media(max-width:1000px)
  {
    .timeline{
      width:100%;
    }
  }
  @media(max-width:767px){
    .timeline{
      width:100%;
      padding-bottom:0;
    }
    h1{
      font-size:40px;
      text-align:center;
    }
    .timeline:before{
      left:20px;
      height:100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even)
    {
      width:100%;
      text-align:left;
      padding-left:50px;
      padding-bottom:50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before
    {
      top:-18px;
      left:16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time{
      top:-30px;
      left:50px;
      right:inherit;
    }
  }